<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/shadowbox.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/jquery-ui.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/jquery-ui.theme.min.css' %}"/>


<html>
<head lang="en">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Jesse M. Elfalan</title>

</head>

<body>
{% csrf_token %}

<div class="header-cont" style="display: true">
    <div class="name_header">
        <div class="text" style="left: 20%">Jesse M Elfalan |</div>
    </div>

    <div class="nav">
        <ul>
            <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group2">About</a></li>
            <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group3">Projects</a></li>
            <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group4">Talents</a></li>
            <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group5">Contact</a></li>
            <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group1">top</a></li>
        </ul>
    </div>

</div>

<div class="debug">
    <label><input type="checkbox"> Debug</label>
</div>

<div class="slide_set">

    {#     Group1 - Welcome #}
    <div data-stellar-background-ratio="0.5" id="group1" class="parallax__group">
        <div data-stellar-ratio="2" class="text" style="absolute">
            <div id="ekomomai"></div>
        </div>
        <div data-stellar-ratio="2" id="welcome"></div>
        <div data-stellar-ratio="0.5" id="greeting_box"><strong>Please scroll down</strong></div>
    </div>
    {#  Group2 - Introduction #}

    <div id="group2" class="parallax__group">

        <div data-stellar-ratio="2" class="text" id="intro_box">
            <article>
                <p id="aloha_text"><strong>Aloha!</strong></p>

                <p>My name is <strong>Jesse Elfalan</strong> and I am a <strong>Software Developer</strong>.<br>
                    <br>
                    Originally from the Hawaiian Islands, I have recently relocated to the<br>
                    <strong>San Francisco Bay Area</strong> to seek out new and exciting opportunities.<br>
                    <br>
                    My areas of interests are <strong>Application Development</strong> and <strong>Web
                        Design</strong>,<br>
                    however it is important that I continue to learn and expand my skill set.<br>
                    <br>
                    Please feel free to peruse this site to find out more about me.
                    <br>
                    Mahalo!
                </p>
            </article>
        </div>

    </div>

    {#     Group3 - projects  #}


    <div id="group3" class="parallax__group">


        <div data-stellar-ratio="2" id="tabs">
            <ul>
                <li><a id = "tab1_anchor" href="#tabs-1">Technical Skills</a></li>
                <li><a id="tab2_anchor" href="#tabs-2">Grails Project</a></li>
                <li><a id="tab3_anchor" href="#tabs-3">Academic Projects</a></li>
            </ul>
            <div id="tabs-1">
                <div class="tab_text">
                    <article>
                        <p>I have experience developing on the <strong>Full Stack</Strong>, and I am skilled in a number
                            of<br>
                            languages and technologies. Some of these include:<br>
                            <br>
                            <strong>Grails, Java, Javascript, Jquery, Html, CSS, Ajax, Json</strong><br>
                            <br>
                            I also enjoy exploring other languages and I am currently learning <br>
                            the <strong>Django/Python</strong> framework, and developed this site using Django as
                            practice!<br>
                            <br>
                            <strong>Please click the tabs to find out more about projects I've worked on.</strong>
                        </p>
                    </article>
                </div>
            </div>
            <div id="tabs-2">
                <div class="tab_text">
                    <p style="font-size:40px; color:rgba(255, 244, 43, 0.67)">DCmd (Data Center Meta Data)</p>
                    <article>
                        <p>A Data Information Management <Strong>Web Application</Strong> developed on
                            the <strong>Grails</strong> framework.</p>
                        <p></p>
                        <a href="https://github.com/UHMDCmd/DCmd"><img
                            src="{% static 'professional_portfolio/images/GitHub_Logo.png' %}"
                            style="max-height: 5%"></a>
                    </article>
                </div>
            </div>
            <div id="tabs-3">
                <p></p>
            </div>
        </div>
{#        <div class="gallery" id ="skills_window" style="background-color:red; display:block; ">#}
        <div class="gallery" id ="skills_window" style=" display:block; ">

             <table class="thumbs" border="3" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td><a class="gallery_pic" rel="shadowbox" href="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img1.PNG' %}">
                        <img alt="grid1" class="border" src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/grid_img1_thumb.png' %}"></a></td>
                    <td><a rel="shadowbox" href="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img2.png' %}">
                        <img alt="grid2" class="border" src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/grid_img2_thumb.png' %}"></a></td>
                </tr>
                   <tr>
                         <td><a rel="shadowbox" href="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img3.PNG' %}">
                        <img alt="grid3" class="border" src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/grid_img3_thumb.png' %}"></a></td>
                        <td></td>
                   </tr>
                <tr>
                       <td><a rel="shadowbox" href="{% static 'professional_portfolio/images/dcmd_screens/full_size/rack_img1.PNG' %}">
                        <img alt="rack1" class="border" src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/rack1_thumb.png' %}"></a></td>
                    <td><a rel="shadowbox" href="{% static 'professional_portfolio/images/dcmd_screens/full_size/rack2.PNG' %}">
                        <img alt="rack2" class="border" src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/rack2_thumb.png' %}"></a></td>
             </tr>
            </tbody>
        </table>

        </div>
        <div class="gallery" id ="dcmd_window" style="background-color:yellow; display:none">
        <a href="{% static 'professional_portfolio/images/singing.png' %}" rel="shadowbox">dcmd Image</a>
        </div>

        <div class="gallery" id ="academic_window" style="background-color:green; display:none">
<a href="{% static 'professional_portfolio/images/singing.png' %}" rel="shadowbox">projects Image</a>
        </div>





        {#<button id="dcmd">dcmd</button>#}

        {#        light box gallery example#}
        {#        <div id="gallery" >#}
{#                    <a href="{% static 'professional_portfolio/images/singing.png' %}" rel="shadowbox">My Image</a>#}
        {#        </div>#}

    </div>
    {#     DCmd   #}

    {#    <div id="group6" class="sub_group">#}
    {#    <div id="group6" class="parallax__group" style="display: hidden">#}
    {##}
    {#    </div>#}
    {##}
    {#     Others   #}
    {#    <div id="group7" class="sub_group">#}
    {##}
    {#    </div>#}


    {#     Group4 - Talents  #}

    <div id="group4" class="parallax__group">
        <div class="text" id="talent_box">
            <article>
                <p>Aside from writing code, I also enjoy learning and exploring new talents <br>
                    that help stimulate my creative side.<br>
                    <br>
                    Among the hats I wear are that of a Musician, Craftsman, Farmer, and Brewer.<br>
                    I don't generally brag, but I've been told I make a pretty killer Pale Ale!

                <p>
        </div>
    </div>

    {#     Group5 - Contact  #}
    {#    <div class="parallax" id="p_group5">#}

    <div id="group5" class="parallax__group">
        <div class="text">Base Layer</div>

    </div>
</div>


{#</div>#}

{#</section>#}
{#</main>#}

<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10812217-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
-->
{#<script>#}
{#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#})(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
{#ga('create', 'UA-10812217-1', 'auto');#}
{#ga('send', 'pageview');#}
{#</script>#}

<script src="{% static 'professional_portfolio/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/waypoints.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/skrollr.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/skrollr.menu.min.js' %}"></script>
<script src='{% static 'professional_portfolio/js/smooth-scroll.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery.stellar.js' %}'></script>
<script src='{% static 'professional_portfolio/js/shadowbox.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery-ui.min.js' %}'></script>

<script src="{% static 'professional_portfolio/js/init.js' %}"></script>
<script src="{% static 'professional_portfolio/js/ajax_calls.js' %}"></script>


</body>

</html>