<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/style.css' %}"/>
{#<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/shadowbox.css' %}"/>#}
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/jquery-ui.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/jquery-ui.theme.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/colorbox.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'professional_portfolio/nav.css' %}"/>


<html>
<head lang="en">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Jesse M. Elfalan</title>

</head>

<body>
{% csrf_token %}

<div class="header-cont" style="display: true">


    <div class="name_header">
        <div id="cssmenu" style="float:right; position:relative; top:10%; right:1%">
            <ul>
                {#                <li><a data-scroll data-options='{ "easing": "easeInOutQuint" }' href="#group1">Welcome</a></li>#}
                <li><a id="about_nav" class="navButton" data-scroll href="#about">About</a></li>

                <li><a id="work_nav" class="navButton" data-scroll  href="#work_title">Work</a>
                </li>

                <li><a id="talents_nav" class="navButton" data-scroll  href="#talents">Talents</a>
                </li>

                <li><a id="contact_nav" class="navButton" data-scroll  href="#contact">Contact & Resume</a>
                </li>

{#                <li><a class="navButton" data-scroll  href="https://drive.google.com/file/d/0ByaTth8gFd30Y0tLQzd3QnZQSUE/view?usp=sharing" target="_blank">Resume/CV</a>#}
{#                </li>#}
            </ul>
        </div>
        <div style="float:left; text-align:left; position:relative; left:1%">Jesse M Elfalan</div>
    </div>
</div>

<div class="slide_set">


<div id="about" class="parallax__group">
    <div class="style_bar"></div>
    <div id="about_title" class="titles"><p><strong>ABOUT</strong></p></div>

    <div class="item" data-stellar-ratio="2" style="position:absolute;top:25%;left:15%; width:550px;height:500px">
        <p id="aloha_text"><strong>Aloha!</strong></p>

        <div class="content_text">
            <p>My name is <strong>Jesse Elfalan</strong> and I am a <strong>Software Developer</strong>.<br>
                <br>
                Originally from the Islands of Hawaii, I've recently relocated to the<br>
                <strong>San Francisco Bay Area</strong> to seek new and exciting opportunities.<br>
                <br>
                My areas of interests are <strong>Application Development</strong> and <strong>Web
                    Design</strong>,<br>
                however it is important to me that I continue to expand and hone my <br>
                skill set, and so therefore I am always looking to learn.<br>
                <br>
                Please feel free to peruse this site to find out more about me.
                <br>
                Mahalo!
            </p>
        </div>
    </div>

    <div id="island_container" class="item"
            {#         style=" border:2px solid black;position:relative; max-width:1500px; height:100%">#}
         style=" position:relative; max-width:1500px; height:100%">
        <div data-stellar-ratio="2"
             style="position: absolute; width:200px; height:200px;bottom:45%; right:20%; display:block">
            <div id="big_island" class="island"></div>
        </div>
        <div data-stellar-ratio="3"
             style="position: absolute; width:200px; height:200px;bottom:55%; right:36%; display:block">
            <div id="maui_molokai" class="island"></div>
        </div>
        <div data-stellar-ratio="6"
             style="position: absolute; width:200px; height:200px;bottom:62%; right:40%; display:block">
            <div id="oahu" class="island"></div>
        </div>
        <div data-stellar-ratio="13"
             style="position: absolute; width:200px; height:200px;bottom:68%; right:60%; display:block">
            <div id="kauai" class="island"></div>
        </div>

    </div>


</div>

{#     Group3 - projects  #}


<div id="work" class="parallax__group">
    <div class="style_bar"></div>
    <div id="work_title" class="titles"><p><strong>WORK</strong></p></div>

    <div id="tabs_container" class="item" style=" position:relative; max-width:1500px; height:100%; top:2%">

        <div data-stellar-ratio="3" class="item" id="tabs" style="left:0%; top:15%">
            <ul>
                <li><a id="tab1_anchor" href="#tabs-1">Technical Skills / Experience</a></li>
                <li><a id="tab2_anchor" href="#tabs-2">Grails Project</a></li>
                <li><a id="tab3_anchor" href="#tabs-3">Academic Projects</a></li>
            </ul>
            <div id="tabs-1">
                <div class="tab_text" style="position:relative">
                    <p style="font-size:40px; color:rgba(255, 244, 43, 0.67)">Overview</p>

                    <p>I have experience developing on the <strong>Full Stack</Strong>, and I am skilled in a number
                        of
                        languages and technologies. Some of these include:<br>
                        <br>
                        <strong>Grails, Java, Javascript, Jquery, Html, CSS, Ajax, Json</strong><br>
                        <br>
                        I also enjoy exploring new languages and I am currently learning
                        the <strong>Django/Python</strong> framework. This site was developed using
                        django as practice!<br>
                        <br>
                        <strong>Please click the tabs to find out more about projects I've worked on.</strong>
                    </p>
                </div>
            </div>
            <div id="tabs-2">
                <div class="tab_text" style="position:relative">
                    <p style="font-size:40px; color:rgba(255, 244, 43, 0.67)">DCmd (Data Center Meta Data)</p><br>

                    <p><strong class="under">Description:</strong> A Data Information Management <Strong>Web Application</Strong> developed
                        for the University of Hawaii's Information Technology Center.<br>
                        <br>

                        <strong class="under">Goal:</strong> To create a centralized meta data information management system
                        and improve upon data access and data entry for the University's technical staff.<br>
                        <br>
                        <strong class="under">Development Platform:</strong> Grails<br>
                        <br>
                        <strong class="under">Project Role:</strong> Developer, 2011-2014<br>
                        <br>
                        Code viewable on
                    </p>
                    <a href="https://github.com/UHMDCmd/DCmd" target="_blank">
                        <div title="DCmd GitHub Repository" id="github_logo"
                             style="position:absolute; bottom:29.8%;right:67%; max-width: 100px;max-height: 100px;"></div>
                    </a>
                </div>
            </div>

            <div id="tabs-3">
                <div class="tab_text" style="position:relative">
                    <div style="position:relative; height:300px;width:650px">
                        <p style="font-size:40px; color:rgba(255, 244, 43, 0.67)">Time Machine Radio (ipad App)</p>

                        <p><strong class="under">Description:</strong> A music radio application that creates a customized music station
                            based on the user's selection of Genre and time period.<br>
                            <br>
                            <strong class="under">Goal:</strong> To create a listening experience that transports the user to a different
                            time period by playing popular hits on radio of the time.<br>
                            <br>
                            <strong class="under">Development Platform:</strong> Appcelerator, Javascript

                        </p>
                        <a href="https://code.google.com/p/ics414-time-machine-radio/source/browse/" target="_blank">
                            <div title="Time Machine Google Code Repository" id="google_logo"
                                 style="position:absolute; bottom:2%;right:40%; width: 100px;height: 70px;background-color: rgba(255, 255, 255, 0.15); border-radius: 5px"></div>
                        </a>
                    </div>
                    <div style="position:relative; height:250px;width:650px">
                        <p style="font-size:40px; color:rgba(255, 244, 43, 0.67)">Theme Park Scheduler Java
                            Applet</p>

                        <p><strong class="under">Description:</strong> A Java applet that takes in a user's selection of theme park attractions
                            and
                            outputs an optimized schedule based upon a combination of shortest path and scheduling algorithms.<br>
                            <br>
                            <strong class="under">Development Platform:</strong> Java, Swing
                        </p>
                        <a href="https://code.google.com/p/ics311-scheduler/source/browse/" target="_blank">
                            <div title="ThemePark Google Code Repository" id="google_logo"
                                 style="position:absolute; bottom:10%;right:40%; width: 100px;height: 70px;background-color: rgba(255, 255, 255, 0.15); border-radius: 5px"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


<div id="gallery_group" data-stellar-ratio="3" style="position:absolute; left:55%;top:15%">
        <div class="gallery item" id="skills_window" style="position:absolute; display:block; left:55%;top:14%">
            <img style="box-shadow: 10px 10px 3px rgba(27, 27, 27, 0.38); "
                 src="{% static 'professional_portfolio/images/chart.png' %}"></div>

        <div class="gallery item black_matte_frame" id="dcmd_window"
             style="height:490px;width:500px;position:absolute;display:block; left:55%;top:5%; background-color: #545454; ">

            <div id="dcmd_gallery" class="photoset-grid-lightbox" data-layout="131" style="visibility:visible;">
                <img src="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img1.png' %}" width="100"
                     height="40"
                     data-highres="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img1.PNG' %}">

                <img src=" {% static 'professional_portfolio/images/dcmd_screens/thumbs/grid_img2_thumb.png' %}"
                     width="100" height="60"
                     data-highres=" {% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img2.png' %}">

                <img src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/grid_img3_thumb.png' %}" width="100"
                     height="60"
                     data-highres="{% static 'professional_portfolio/images/dcmd_screens/full_size/grid_img3.PNG' %}">

                <img src="{% static 'professional_portfolio/images/dcmd_screens/thumbs/rack1_thumb.png' %}" width="100"
                     height="60"
                     data-highres="{% static 'professional_portfolio/images/dcmd_screens/full_size/rack_img1.PNG' %}">

                <img src="{% static 'professional_portfolio/images/dcmd_screens/full_size/rack2.png' %}" width="100"
                     height="40"
                     data-highres="{% static 'professional_portfolio/images/dcmd_screens/full_size/rack2.PNG' %}">
            </div>
        </div>

        <div class="gallery item black_matte_frame" id="academic_window"
             style="position:absolute; width:500px; height:450px; background-color: whitesmoke; display:block; left:55%;top:20% ;background-color: #ffffff;">
            <div id="academic_gallery" class="photoset-grid-lightbox" data-layout="11" style="visibility: hidden">
                <img src="{% static 'professional_portfolio/images/academic_2.png' %}" width="500" height="300"
                     data-highres="{% static 'professional_portfolio/images/tmr_2.png' %}">
                <img src="{% static 'professional_portfolio/images/academic_1.png' %}" width="500" height="300"
                     data-highres="{% static 'professional_portfolio/images/academic_1.png' %}">

            </div>
        </div>
    </div>
        </div>
</div>


{#     Group4 - Talents  #}
<div  id="talents" class="parallax__group" style="z-index:3">
        <div class="style_bar"></div>
    <div id="talents_title" class="titles"><p><strong>TALENTS</strong></p></div>

        <div id="tabs_container" class="item" style=" position:relative; max-width:1500px; height:100%">

    <div class="item" style="position:absolute; width:550px;height:500px; top:30%; left:3%">
        <div class="content_text">
            <p>Aside from writing code, I also enjoy exploring talents that help stimulate
                my creative side.<br>
                <br>
                I am also a Musician, WoodWorker, Farmer, and Brewer.<br>
                <br>
                I generally don't brag, but I've been told I make a pretty killer Pale Ale!
            </p>
        </div>
        </div>


    <div class="gallery item wood_frame" id="talent_window"
         style="position:absolute; width:600px; height:454px; background-color: #2e2e2e; display:block; left:45%;top:20%">
        <div id="talent_gallery" class="photoset-grid-lightbox" data-layout="13" style="visibility: hidden">
            <img src="{% static 'professional_portfolio/images/singing_crop.png' %}" width="1280" height="550"
                 data-highres="{% static 'professional_portfolio/images/singing_crop.png' %}">
            <img src="{% static 'professional_portfolio/images/wine_rack_thumb.png' %}" width="100" height="200"
                 data-highres="{% static 'professional_portfolio/images/wine_rack_styled.png' %}">
            <img src="{% static 'professional_portfolio/images/beer_thumbs_small.png' %}" width="100" height="200"
                 data-highres="{% static 'professional_portfolio/images/beer_thumbs.png' %}">
             <img src="{% static 'professional_portfolio/images/kabocha_c_small_dull.png' %}" width="100" height="200"
                 data-highres="{% static 'professional_portfolio/images/kabocha_c.png' %}">
        </div>
         </div>
</div>
</div>

{#     Group5 - Contact  #}

<div id="contact" class="parallax__group">
        <div class="style_bar"></div>
    <div id="contact_title" class="titles"><p><strong>CONTACT</strong></p></div>
    <div data-stellar-ratio="0.5" class="item" style="position:absolute;top:40%;left:30%; width:800px;height:500px; z-index:2">
        <div class="content_text" style="text-align:center;display: block">
            <p>My <strong>resume</strong> can be viewed <a id="resume_link" style="color:#ffffff" href="https://drive.google.com/file/d/0ByaTth8gFd30Y0tLQzd3QnZQSUE/view?usp=sharing" target="_blank"><strong>Here</strong>.</a><br>
            <br>
            If you would like to get in touch I would love to hear from you!<br>
            <br>
            You can connect with me via email or drop me a message on linkedin.
            <div style="width:100px; height:44px; position:relative; left:45%; top:50%">
            <a href="http://www.linkedin.com/pub/jesse-elfalan/90/ab2/138/" target="_blank"><div title="View my profile here!" id ="linkedin"></div></a>
            <a href="mailto:jeselfalan@gmail.com"><div title="jeselfalan@gmail.com" id ="gmail"> </div></a>
            </div>
            </p>
            <br>
            <p>
            <div id="mahalo_text"><strong>Aloha & Thanks for Visiting!</strong></div></p>

        </div>
    </div>
</div>
</div>


{#</div>#}

{#</section>#}
{#</main>#}

<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10812217-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
-->
{#<script>#}
{#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#})(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
{#ga('create', 'UA-10812217-1', 'auto');#}
{#ga('send', 'pageview');#}
{#</script>#}

<script src="{% static 'professional_portfolio/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/waypoints.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/skrollr.min.js' %}"></script>
<script src="{% static 'professional_portfolio/js/skrollr.menu.min.js' %}"></script>
<script src='{% static 'professional_portfolio/js/smooth-scroll.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery.stellar.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery-ui.min.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery.photoset-grid.min.js' %}'></script>
<script src='{% static 'professional_portfolio/js/jquery.colorbox.js' %}'></script>

<script src="{% static 'professional_portfolio/js/init.js' %}"></script>
{#<script src="{% static 'professional_portfolio/js/ajax_calls.js' %}"></script>#}


</body>

</html>