/*Header Styles*/
/*--------------------------------------------- */
.header-cont {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.95);
    color: #fff;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
     height: 60px;
}

.name_header {
    position:relative;
    /*margin: 5px auto;*/
    color: rgb(0, 152, 141);
    font: 60% / 1.5 Arial Rounded MT Bold;
    font-size: 40px;
    height:55px;

}


/* Parallax base styles
--------------------------------------------- */

.parallax__group {
    position: relative;
    height: 500px; /*fallback for older browsers */
    height: 100vh;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    display: block;

}
.item{
    margin:0 auto;
    display:block;
}

/*.stellar_object_container{*/
    /*position:relative;*/
    /*max-width:1500px;*/
    /*height:100%*/
/*}*/

/*article {position:relative; max-width: 1000px; margin: 0 auto; height: 1000px; display: block; }*/
/*article p {position: relative; z-index: 20}*/

/* Debugger styles - used to show the effect
--------------------------------------------- */

/*.debug {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: .5em;*/
    /*z-index: 999;*/
    /*background: rgba(0, 0, 0, .85);*/
    /*color: #fff;*/
    /*padding: .5em;*/
    /*border-radius: 0 0 5px 5px;*/
/*}*/

/*.debug-on .parallax__group {*/
    /*-webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);*/
    /*transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
/*}*/

/*.debug-on .parallax__layer {*/
    /*box-shadow: 0 0 0 2px #000;*/
    /*opacity: 0.9;*/
/*}*/



/* page styles
--------------------------------------------- */

body, html {
    /*overflow: hidden;*/
    overflow-y: auto;
}

body {
    font: 200% / 1.5 Arial;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
}

/*.slide_set {*/
    /*position: relative;*/
   /*font-size: 200%;*/
/*}*/


.tab_text {
    position: absolute;
    font: 60% / 1.5 Arial Narrow;
    text-align: justify;
    font-size: 20px;
    color: rgba(232, 253, 255, 0.64);
    left: 3%;
    top: 20%;
    height:600px;
    width:650px;
}

#tabs {
    /*text-align: justify;*/
    position: absolute;
    font-size: 20px;
    width: 750px;
    height: 600px;
    background: rgb(71, 54, 194);

      -moz-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38);
-webkit-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
}
.under{
    text-decoration: underline;
}


.gallery {
    position: absolute;
    height:500px;
    width:500px;
}


#aloha_text {
    font: 60px / 1.5 Arial Rounded MT Bold;
    color: rgba(255, 48, 0, 0.52);

}#mahalo_text {
    font: 40px / 1.5 Arial Rounded MT Bold;
    color: rgba(170, 17, 29, 0.52);

}
.titles p {
    font: 35px / 1.5 Arial;
    color: rgb(255, 255, 255);
    position:absolute; top:8%; left:5%;
}
.style_bar{
    width:4px;
    height:150px;
    background-color: white;
    position: absolute;top:0%; left:3%;
}


.content_text {
   font: 60% / 1.5 Arial Narrow;
   font-size: 20px;
   color: rgba(220, 239, 241, 0.64);
   text-align: left;

}

#greeting_box {
    text-align: center;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 60% / 1.5 Arial Rounded MT Bold;
    color: rgba(174, 174, 174, 0.70);
}

#intro_box {
    font: 60% / 1.5 Arial Narrow;
    color: rgba(232, 253, 255, 0.85);
}

#project_box {
    position: absolute;
    font: 60% / 1.5 Arial Narrow;
    font-size: 20px;
    color: rgba(232, 253, 255, 0.64);
    left: 30%;
    top: 50%;
}

#talent_box {
    font: 60% / 1.5 Arial Narrow;
    color: rgba(232, 253, 255, 0.64);
    left: 30%;
    top: 50%;
}

/* style the groups
--------------------------------------------- */

#group1 {
    z-index:0;
    /*background: url('images/napali2.jpeg');*/
    background: url('images/napali_coast_clr.jpeg');
    /*background: url('images/napali_art.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#about {
    z-index: 0; /* slide under groups 1 and 3 */
    background: rgb(61, 196, 186);
 /*background: url('images/turquoise_leaf.png');*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
}

#work {
    z-index: 0; /* slide over group 2 and 4 */
    /*background: rgb(77, 120, 204);*/
 background: url('images/blueprint.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#talents {
    z-index: 0; /* slide under group 3 and 5 */
    /*background: rgb(255, 155, 79);*/
     background: url('images/orange.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#contact{
    z-index: 0; /* slide over group 4 and 6 */
    background: rgb(255, 194, 79);
        background: url('images/envelope.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#group6 {
    z-index: 0; /* slide under group 5 and 7 */
    background: rgb(108, 81, 208);

}

#group7 {
    z-index: 0; /* slide over group 7 */
    background: rgb(153, 71, 205);

}

/***********************/
/*image properties*/
.island, .beer{
    -ms-transform: scale(0.4,0.4); /* IE 9 */
    -webkit-transform: scale(0.4,0.4); /* Chrome, Safari, Opera */

    transform: scale(0.4,0.4);
}
#big_island{
    content:url('images/islands/big_island_c.png');
        }
#maui_molokai{
    content:url('images/islands/maui_molokai_c.png');
        }
#oahu{
    content:url('images/islands/oahu_c.png');
        }
#kauai{
    content:url('images/islands/kauai_c.png');
        }



#github_logo{
    content: url('images/GitHub_Logo.png');
}
#google_logo{
    content: url('images/Google_code.png');
}

.black_matte_frame{
    border: #343534 solid 50px;
    -webkit-border-image: url('images/black_matte_frame.png') 70 stretch;
    -moz-border-image: url('images/black_matte_frame.png') 70 stretch;
    border-image: url('images/black_matte_frame.png') 70 stretch;

    -moz-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38);
-webkit-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
}


.wood_frame{
    border: #2e1a12 solid 50px;
    -webkit-border-image: url('images/wood_frame_shaded.png') 100 stretch;
    -moz-border-image: url('images/wood_frame_shaded.png') 100 stretch;
    border-image: url('images/wood_frame_shaded.png') 100 stretch;

    -moz-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38);
-webkit-box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
box-shadow: 10px 10px 5px rgba(27, 27, 27, 0.38) ;
}

#linkedin{
    content: url('images/linkedin_logo.png');
    opacity: 0.7;
    position: absolute;
    left: 0;
    top:50%;
   -ms-transform: scale(0.9,0.8); /* IE 9 */
    -webkit-transform: scale(0.9,0.8); /* Chrome, Safari, Opera */

}
#linkedin:hover{
    opacity: 1.0;
}
#gmail{
    content: url('images/gmaillogo.png');
    opacity: 0.7;
    position: absolute;
    right:0;
    top:65%;
}
#gmail:hover{
    opacity: 1.0;
}


/* misc
--------------------------------------------- */
.demo__info {
    position: absolute;
    z-index: 100;
    bottom: 1vh;
    top: auto;
    font-size: 80%;
    text-align: center;
    width: 100%;
}